    <footer>
        <h2 style="text-align: center">Mac App Store & App Store</h2>

        <p style="text-align: center;" class="app_store_buttons">
            <a href="https://itunes.apple.com/app/fsnotes/id1277179284">
                <img src="/img/badge-download-on-the-mac-app-store.svg" alt="">
            </a>

            <a href="https://itunes.apple.com/app/fsnotes-manager/id1346501102">
                <img src="/img/badge-download-on-the-app-store.svg" alt="">
            </a>
        </p>

        <p>
            <span style="text-align: center; margin: 30px auto 0 auto; display: block; color: #5A6369">∞</span>
        </p>


        <p>© Oleksandr Hlushchenko, 2017–2023 FSNotes</p>
    </footer>
</body>
</html>
