<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {{ if eq .Params.custom_title_enabled true }}
            {{ .Params.custom_title_value }} | FSNotes App
        {{ else }}
            {{ .Title }} | FSNotes App
        {{ end }}
    </title>
    <meta name="description" content="Modern notes manager for macOS/iOS">
    <meta name="viewport" content="width=device-width, initial-scale=1">
{{ if .Permalink }}
    <link rel="canonical" href="{{ .Permalink }}" />
{{ end }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link rel="stylesheet" href="/css/main.css?v=1.2">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3DC2G73331"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3DC2G73331');
    </script>
</head>
<body>
    <header>
        <a href="/">
            <h1>
                <img class="fsnotes_logo" src="/img/icon.webp" />
                <span>FSNotes</span>
            </h1>
        </a>

        <ul class="navi">
            <li>
                <a href="/#pricing">Pricing</a>
            </li>

            <li>
                <a href="/fsnotes7/">FSNotes 7</a>
            </li>
            <!--
            <li>
                <a href="/fsnotes6-for-mac/">macOS</a>

                <sup class="navi_sup">
                    <a href="/fsnotes6-for-mac/">v6</a>
                </sup>
            </li>

            <li>
                <a href="/fsnotes6-for-ios/">iOS</a>

                <sup class="navi_sup">
                    <a href="/fsnotes6-for-ios/">v6</a>
                </sup>
            </li>

            -->
            <li>
                <a href="/#community">Community</a>
            </li>
            <li>
                <a href="/#feedback">Feedback</a>
            </li>
            <li>
                <a href="https://github.com/glushchenko/fsnotes/wiki" target="_blank">Wiki</a>
            </li>
        </ul>
    </header>

